body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: left;
    z-index: 1000;
    animation: fadeInDown 0.5s ease forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    color: #fff;
    text-align: center;
    padding: 3px;
}


nav a {
    display: inline-block;
    margin: 0 20px; /* Reduzir a margem para se ajustar melhor em telas menores */
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Reduzir o padding para se ajustar melhor em telas menores */
}


nav a:hover {
    background-color: #555;
}

section {
    color: #fff;
    background-color: black;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.quadrado {
    color: #000;
    width: 90%; /* Alterar para largura percentual para se ajustar a diferentes tamanhos de tela */
    height: 400px;
    max-width: 590px;
    background-color: white;
    border: 1px solid #000; /* borda preta com 1px de espessura */
    border-radius: 20px; /* bordas minimamente arredondadas */
    margin: 80px; /* margem para separar os quadrados */
    display: inline-block; /* para alinhar os quadrados lado a lado */
    padding: 70px; /* preenchimento interno para o texto dentro do quadrado */
    vertical-align: top;

}

.quadrado ul {
    font-size: 23px; /* Aumentar o tamanho da fonte */
    text-align: left;
}

.quadrado li {
    margin-bottom: 10px;
}

.quadrado h3 {
    margin-top: 0; /* Remove a margem superior padrão */
    font-size: 50px;

}

.quadrado p {
    font-size: 23px; /* Aumentar o tamanho da fonte */
    text-align: left;
}

.container {
    text-align: center;
    height: 720px;
}

.header2 {
    background-color: #000000;
    color: #ffffff;
    padding: 250px;
    font-family: Arial, sans-serif; /* Define a fonte para o header 2 */
}

.header2 h1, .header2 h2 {
    font-family: 'Glacial Indifference', serif;
}

.header2 h1 {
    font-size: 90px;
    padding-left: 17px; /* Adiciona um espaçamento à esquerda de 20px */
}

.header2 h2 {
    font-size: 40px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 90px;
    font-size: 18px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #041ea1, #ae52f5, #ad80f1, #041ea1, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #230042;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.profile-image {
    max-width: 100%;
    position: relative;
    display: block;
    margin: -700px auto 0; /* Adiciona margem superior negativa para mover a imagem para cima */
    width: 1223px;
    height: auto;
    margin-left: 430px; /* Adiciona margem à esquerda para mover a imagem para a direita */
}



.header2 h1,
.header2 h2 {
    margin-top: 1px; /* Adiciona um espaçamento superior */

}

.icon2 ul {
    list-style: none;
    padding: 0;
    margin-left: 70px;
}

.icon2 ul li:last-child {
    margin-right: 0;
}

.icon2 ul li {
    display: inline-block;
    margin-right: 235px; /* Ajuste a margem direita conforme necessário */
}

.circle-button {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.2s ease;

}

.flat-under {
    margin-top: 20px;
    margin-left: 100px;
}

.circle-button:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.grow-container {
    display: inline-block;
    margin: 1em;
}

.to-red:hover {
    background: #9467ff;
}

.to-facebook:hover {
    background: #10112d;
}

.to-linkedin:hover {
    background: #0077B5;
}

@keyframes circle-anim {
    0% {

    }

    90% {
        padding: 0.35em;
        margin: -0.35em;
    }

    100% {
        padding: 0.25em;
        margin: -0.25em;
    }
}

.Exp1 {
    background: linear-gradient(0.25turn, #8C52FF, #68C6B8);
    height: 920px;

}

.quadradoExp {
    color: #ffffff;
    width: 1450px;
    height: 500px;
    background-color: #000000;
    padding: 70px; /* preenchimento interno para o texto dentro do quadrado */
    margin-top: 20px; /* Mover o quadrado para cima em 20 pixels */
    margin-left: 21px;
}


.quadradoExp li {
    font-size: 22px; /* Aumentar o tamanho da fonte */
    margin-bottom: 10px;

}

.quadradoExp h4 {
    font-size: 24px;
    text-align: center;
    vertical-align: top;
}

.quadradoExp h3 {
    font-size: 35px;
    text-align: center;
}

.Exp1 {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
}

.Exp1 h2 {
    margin-right: 20px; /* Adiciona um espaço entre o título e o quadrado */
    font-family: "Alice", serif;
    color: #d9d9d9;
    font-size: 100px;
}

#Projetos {
    text-align: center;
    padding: 50px 0;

}

#Projetos h2 {
    font-family: "Alice", serif;
    text-align: center;
    font-size: 70px;
}

.projeto {
    width: 600px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 116, 138);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.projeto:hover {
    transform: translateY(-5px);
}

.projeto img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.projeto .info {
    padding: 20px;
}

.projeto h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.projeto p {
    color: #d9d9d9;
    font-size: 1rem;
    margin-bottom: 15px;
}

.botao {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #0080ff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: rgb(171, 213, 255);
    color: #000000;
}

.projeto-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    vertical-align: top;
    width: 1902px;
    height: 700px;
}

.Edu {
    background-color: #d9d9d9;
    width: 1863px;
    height: 910px;
}

.Edu h2 {
    margin-top: -800px; /* Mover o texto 20 pixels para cima */
    color: #454e56;
    font-family: "Alice", serif;
    font-size: 75px;
}

.educacao-container p {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 30px;
}

.Edu img {
    animation: fadeInDown 0.5s ease forwards;
    width: 1250px; /* Definir a largura da imagem para 300 pixels */
    height: 950px; /* Definir a altura da imagem para 200 pixels */
    margin-left: 500px; /* Mover a imagem 20 pixels para a direita */
    vertical-align: top;
    margin-top: -20px;

}

.certificados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certificado {
    width: 550px; /* Largura fixa */
    height: 750px; /* Altura fixa */
    margin: 100px; /* Aumentando o espaçamento entre os certificados */
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(59, 59, 59);
    overflow: hidden;
}

.certificado:hover {
    transform: translateY(-5px);
}

.certificado img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.certificado .info {
    padding: 80px 20px 20px
}

.certificado h3 {
    color: #070000;
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
}

.certificado p {
    text-align: left;
    color: #070000;
    font-size: 18px;
    margin-bottom: 15px;
}
.cert{
    background-color:#ffffff;
}
.cert h2{
    color: #070000;
    text-align: center;
    font-family: "Alice", serif;
    font-size: 60px;
}
footer {
    background-color: #000; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 2px 0; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhar o texto ao centro */
}

.rodape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos do rodapé */
    font-size: 14px;
}

.rodape-container p {
    margin: 0; /* Remover margens padrão */
}

footer:hover {
    background-color: #222; /* Cor de fundo do rodapé ao passar o mouse */
    transition: background-color 0.3s ease;
}

.rodape-container a {
    color: #fff; /* Cor dos links do rodapé */
    text-decoration: none; /* Remover sublinhado dos links */
    transition: color 0.3s ease;
}

.rodape-container a:hover {
    color: #888; /* Cor dos links do rodapé ao passar o mouse */
}


























